<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="mt20">All quizzes</h1>
        <div class="row">
            <div class="col-md-6" *ngFor="let q of quizzes" >
              <div *ngIf="q.active">
                <mat-card class="mb20" >
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{q.title}}</mat-card-title>
                      <mat-card-subtitle>{{q.category.title}}</mat-card-subtitle>
                    </mat-card-header> 
                    <mat-card-content class="truncate">
                      <p>
                       {{q.description}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button color="primary">View</button>
                      <button mat-raised-button [routerLink]="'/userDash/instructions/'+q.qId" color="accent">Start</button>
                      <button mat-button color="primary">Questions {{q.numberOfQuestions}}</button>
                      <button mat-button color="primary">Marks {{q.maxMarks}}</button>

                    </mat-card-actions>
                    <!-- {{quizzes.length}} -->
                    <div *ngIf="quizzes.length==0" class="container">
                        <h2>No Quizzes Available</h2>
                    </div>
                  </mat-card>
              </div>
                
                  
            </div>
        </div>
    </div>
</div>