
<div class="bootstrap-wrapper prevent-select" *ngIf="!isSubmitted">
    <div class="row container-fluid">
        <div class="col-md-2">
            instructions
        </div>
        <div class="col-md-8">
            <ng-container *ngIf="questions">
                <h1 class="mt20">
                    On Going Quiz <b>{{quiz.title}}</b>
                </h1>
            </ng-container>
            <div class="card">
                <h2>MCQ Questions</h2>
                {{questions}}
                <form>
                  <ng-container *ngFor="let question of questions; let i = index">
                    <mat-card class="question mt20 mb20">
                      <p>{{i+1}}){{question.content}}</p>
                      <!-- <p>Hello</p> -->
                      <ul>
                        <li *ngFor="let option of question.options; let j = index">
                          <input type="radio" id="{{i}}-{{j}}" name="{{i}}" value="{{j}}"
                            (change)="onSelectionChange(i, j)">
                          <label for="{{i}}-{{j}}">{{option}}</label>
                        </li>
                      </ul>
                    </mat-card>
                  </ng-container>
                  <div class="text-center">
                    <button mat-raised-button color="primary" (click)="submitAnswers()">Submit</button>
                  </div>
                </form>
              </div>

<!-- Questions -->
        </div>
        <div class="col-md-2 ">
          <mat-card style="margin-top: 120px;">
            <mat-card-header>
              <mat-card-title>
                Progress
              </mat-card-title>
              <mat-card-subtitle>
                Quiz will automatically submitted when timer timer reaches to <b>0.0</b>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content >
              <mat-spinner mode="determinate" [value]="(timer/(questions.length*2*60))* 100" style="margin:auto"></mat-spinner>
              <p>Time remaining: {{getFormatedTime()}} </p>
            </mat-card-content>
          </mat-card>

        </div>
    </div>
</div>
<div class="bootstrap-wrapper" *ngIf="isSubmitted">
  <div class="row mt20">
    <div class="col-md-6 offset-md-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Quiz Result
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <h1>Marks Got : {{ marksGot }}</h1>
          <h1>Correct Answers : {{ correctAnswers }}</h1>
          <h1>Questions attempted : {{ attempted }}</h1>
        </mat-card-content>
        <div class="text-center">
          <button mat-raised-button color="primary" (click)="printPage()" class="mr20">print</button>
          <button mat-raised-button color="primary" [routerLink]="'/userDash'">Home</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
