
<div class="bootstrap-wrapper prevent-select">
    <div class="container-fluid">
        <div class="col-md-2">
            <!-- instructions -->
        </div>
        <div class="col-md-8">
            <ng-container *ngIf="questions">
                <h1 class="mt20">
                    <!-- On Going Quiz <b>{{question.quiz.title}}</b> -->
                </h1>
            </ng-container>
            <div class="justify-content center">
                <h2>MCQ Questions</h2>
                <p>Time remaining: {{remainingTime}}</p>
                {{questions}}
                <form>
                  <ng-container *ngFor="let question of questions; let i = index">
                    <div class="question">
                      <p>{{i+1}}){{question.content}}</p>
                      <!-- <p>Hello</p> -->
                      <ul>
                        <li *ngFor="let option of question.options; let j = index">
                          <input type="radio" id="{{i}}-{{j}}" name="{{i}}" value="{{j}}"
                            (change)="onSelectionChange(i, j)">
                          <label for="{{i}}-{{j}}">{{option}}</label>
                        </li>
                      </ul>
                    </div>
                  </ng-container>
                  <button (click)="submitAnswers()">Submit</button>
                </form>
              </div>

<!-- Questions -->
        </div>
        <div class="col-md-2">
<!-- Progress -->
        </div>
    </div>
</div>
