<!-- {{questions | json}} -->

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12 mt20">
            <h2>Upload Excel File</h2>
<!-- Upload  -->
<form id="file-upload-form" class="uploader">
  <input id="file-upload" type="file"
  (change)="fileUpload($event)"
  name="fileUpload"
   accept=".xls,.xlsx" />

  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>
</form>
        </div>
    </div>
    <br>
    <H1 class="text-center">OR</H1>
    <div class="row">
        <div class="col-md-12 mt20">
            <h1>Add Questions to Quiz {{title}}</h1>
            <mat-card>
                <mat-card-subtitle>
                   Enter the details of the new question
                </mat-card-subtitle>
                <mat-card-content>

                    <form (ngSubmit)="onSubmit()">
                        <ckeditor [editor]="Editor"
                         data="Enter your Question Here"
                         name="content"
                         [(ngModel)]="questions.content">
                        </ckeditor>
                        <!-- content field -->
                        <!-- <mat-form-field class="width" appearance="fill">
                            <mat-label>Question Content</mat-label>
                            <textarea
                            name="content"
                             matInput placeholder="Enter here"
                             [(ngModel)]="questions.content"
                             rows="6" required>
                            </textarea>
                        </mat-form-field>   -->

                        <!-- options -->

                        <div class="row">
                            <div class="col-md-6">
                                <!-- option1 -->
                                <mat-form-field class="width" appearance="fill">
                                    <mat-label>Enter option1</mat-label>
                                    <input
                                    name="option1"
                                     matInput placeholder="Enter here"
                                     [(ngModel)]="questions.option1" type="text" required>

                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- option2 -->
                                <mat-form-field class="width" appearance="fill">
                                    <mat-label>Enter option2</mat-label>
                                    <input
                                    name="option2"
                                     matInput placeholder="Enter here"
                                     [(ngModel)]="questions.option2" type="text" required>

                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- option3 -->
                                <mat-form-field class="width" appearance="fill">
                                    <mat-label>Enter option3</mat-label>
                                    <input
                                    name="option3"
                                     matInput placeholder="Enter here"
                                     [(ngModel)]="questions.option3" type="text" required>

                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- option4 -->
                                <mat-form-field class="width" appearance="fill">
                                    <mat-label>Enter option4</mat-label>
                                    <input
                                    name="option4"
                                     matInput placeholder="Enter here"
                                     [(ngModel)]="questions.option4" type="text" required>

                                </mat-form-field>
                            </div>
                        </div>
                        <!-- answer  -->
                        <mat-form-field class="width" appearance="fill">
                            <mat-label>Select Answer</mat-label>
                            <mat-select required [(ngModel)]="questions.answer" name="answer">
                                <mat-option *ngIf="questions.option1" [value]="questions.option1">
                                    <!-- option1 -->
                                    {{questions.option1}}
                                </mat-option >
                                <mat-option *ngIf="questions.option2" [value]="questions.option2">
                                    <!-- option2 -->
                                    {{questions.option2}}
                                </mat-option>
                                <mat-option *ngIf="questions.option3" [value]="questions.option3">
                                    <!-- option3 -->
                                    {{questions.option3}}
                                </mat-option>
                                <mat-option *ngIf="questions.option4" [value]="questions.option4">
                                    <!-- option4 -->
                                    {{questions.option4}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Add</button>
                        </div>
                    </form>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
